<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GoodsBuyingConnectionString" connectionString="Data Source=CORE\SQL2012;Initial Catalog=GoodsBuying;Persist Security Info=True;User ID=sa;Password=st123" />
    <!--add name="GoodsBuyingConnectionString" connectionString="workstation id=GoodsBuying.mssql.somee.com;packet size=4096;user id=s_t2005_SQLLogin_1;pwd=yn8279euqn;data source=GoodsBuying.mssql.somee.com;persist security info=False;initial catalog=GoodsBuying" /-->
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>