<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="GoodsBuyingConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2012;Initial Catalog=GoodsBuying;Persist Security Info=True;User ID=sa;Password=daorliar"/>
    <!--add name="GoodsBuyingConnectionString" providerName="System.Data.SqlClient" connectionString="workstation id=GoodsBuying.mssql.somee.com;packet size=4096;user id=s_t2005_SQLLogin_1;pwd=yn8279euqn;data source=GoodsBuying.mssql.somee.com;persist security info=False;initial catalog=GoodsBuying" /-->
  </connectionStrings>
  
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true"/>
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://localhost:5598"/>
        <!--add prefix="http://tsv.somee.com"/-->
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>

    <services>
      <service name="Service.BuyingService" behaviorConfiguration="mexServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5598/Service.svc" />
            <!--add baseAddress="http://tsv.somee.com/Service.svc" /-->
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Service.IBuyingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.webServer>
    <handlers>
      <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>

  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>